
/* INPUT DEFAULT */

.container-input-default{
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.label-input-default{
  color: #17211E;
  font-family: Arvo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input-default{
  border-radius: 4px;
  border: 2px solid #17211E;
  color: #3A4945;
  font-family: Arvo;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  padding-left: 4px;
}
