.main-dashboard{
  display: flex;
}

.container-right-dashboard{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  gap: 30px;
}

.mural
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-bottom-dashboard{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.card-dashboard{
  width: 40%;
}
