<main class="main-dashboard">
  <app-sidebar></app-sidebar>
  <div class="container-right-dashboard">
    <app-mural class="mural"></app-mural>

    <div class="container-bottom-dashboard">
      <app-card-contagem class="card-dashboard" [srcImagem]="'../../../assets/img-pacote.png'" [titulo]="'Lotes Cadastrados'" [numeroContagem]="contagem"></app-card-contagem>
      <app-card-contagem class="card-dashboard" [srcImagem]="'../../../assets/icon-certificado.png'" [titulo]="'Certificados Gerados'" [numeroContagem]="0"></app-card-contagem>
    </div>
  </div>
</main>
