/* /Layout/MainLayout.razor.rz.scp.css */
.scroll-main[b-3kxe92ka7a]{
    overflow-y: scroll;
    scroll: hidden;
}
/* /Layout/NavMenu.razor.rz.scp.css */
aside[b-2u1r34ctqr] {
    background-color: #1C2523;
    height: 100vh;
}

.borda-sidebar[b-2u1r34ctqr]{
    border-bottom: 2px solid white;
    height: 5px;
    width: 100%;
}

/* /Pages/Login/Login.razor.rz.scp.css */
.fundo-login[b-x2mrmqo4pn] {
    background-image: url('./img/fundo-login.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/* /Pages/Lote/CardLotes.razor.rz.scp.css */
.sombra-card-lote[b-412dkz3am5] {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
}
/* /Pages/Lote/Lote.razor.rz.scp.css */
.altura-card-lote[b-4um7ug05ke]{
    height: 30vh;
}
/* /Pages/Produto/ProdutoDialog.razor.rz.scp.css */
.logo-modal-produto[b-e1hb8qukbj] {
    width: 175px !important;
}

