<div class="container">
  <div class="left-box-login">
    <img class='logo-redondo-login' src="../../../assets/Logo-Redondo.svg" alt="Logo Redonda" />

    <div class="box-text-login">
      <p class="text-login">Nossa plataforma foi desenvolvida para simplificar e otimizar o processo de
        gerenciamento de lotes e geração de certificados. Com recursos intuitivos e eficientes, estamos aqui para
        facilitar o seu trabalho.</p>
      <p class="text-login">Caso não tenha uma conta clique no botão abaixo e crie uma para acessar todas as
        funcionalidades disponíveis. Nossa interface simples e objetiva proporcionará uma experiência fluida e agradável
        durante toda a sua jornada.</p>
    </div>

    <a  routerLink="/cadastro" class="btn-redirect">Cadastrar</a>
  </div>

  <div class="right-box-login">
      <img class='logo-login' src="../../../assets/Logo.svg" alt="Logo"/>
      <form class='form-login' [formGroup]="formulario">
        <span class="erro-login span-error-login">{{msgErro}}</span>
        <div class="container-input-erro">
          <app-input-default [formulario]="formulario" class="input-login" [labelInput]="'Email'" [type]="'email'" [placeholder]="'Digite seu email'" ></app-input-default>
          <div class="erro-login" *ngIf="formulario?.get('Email')?.hasError('required') && formulario.get('Email')?.touched">
            O campo de email é obrigatório.
          </div>
          <div class="erro-login" *ngIf="formulario.get('Email')?.hasError('email') && formulario.get('Email')?.touched">
            Por favor, insira um email válido.
          </div>
        </div>
        <div class="container-input-erro">
          <app-input-default
          [formulario]="formulario"
          class="input-login"
          [labelInput]="'Senha'"
          [type]="'password'"
          [placeholder]="'Digite sua senha'"></app-input-default>

          <div class="erro-login" *ngIf="formulario?.get('Senha')?.hasError('required') && formulario.get('Senha')?.touched">
            O campo de senha é obrigatório.
          </div>
        </div>


        <button [disabled]="formulario.invalid" (click)="login()" class="btn-default"><img *ngIf="loading" class="loading-animacao" src="../../../assets/loading.gif"> Entrar</button>
      </form>
  </div>

</div>
