<main class="main-listagem-lote">
  <app-sidebar></app-sidebar>
  <div class="container-right-listagem-lote">
    <div class="mural-listagem-lote">

      <div class="container-info-lote">
        <div class="card-lote">
          <div class="box-textos-card">
            <p class="texto-capturado-card"><span class="texto-titulo-card">Cliente:</span> {{loteSelecionado.nomeEmpresa}}</p>
            <p class="texto-capturado-card"><span class="texto-titulo-card">Nº do lote:</span> {{loteSelecionado.id_Lote}}</p>
            <p class="texto-capturado-card"><span class="texto-titulo-card">Data:</span> {{formataData()}}</p>
          </div>
        </div>


      </div>

      <div class="container-vazio"  *ngIf="!selecionado">
        <img class="figura-mural" src="../../../assets/figuramural.png" alt="Figura mural">
        <span class="texto-vazio-listagem-lote">Nenhum lote foi selecionado</span>
      </div>
    </div>

    <div class="container-search-lote">
      <form class="container-input-logo">
        <input placeholder="Digite o lote que deseja buscar" class="input-listagem-lote" type="text" name="search" id="search">
        <button class="btn-search"><img class="icon-pesquisar" src="../../../assets/search-icon.png" alt="Icon pesquisar"/></button>
      </form>

      <div class="container-card-lote">
        <div *ngFor="let lote of lotes">
          <app-card [lote]="lote" (changeboolean)="onChangeBoolean(lote.id_Lote)"></app-card>
        </div>


      </div>
    </div>
  </div>
</main>

