.main-listagem-lote{
  display: flex;
}

.container-right-listagem-lote{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  gap: 30px;
  overflow-y: scroll;
  height: 100vh;
}

.mural-listagem-lote{
  width: 90%;
  border-radius: 7px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.texto-vazio-listagem-lote{
  color: #CCC;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.figura-mural{
  width: 300px;
}


.container-search-lote{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 50px;
}

.container-input-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 50px;
}

.input-listagem-lote{
  border-radius:  4px 0 0 4px;
  border: 2px solid #17211E;
  color: #3A4945;
  font-family: Arvo;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  padding-left: 4px;
  width: 90%;
}

.input-listagem-lote::placeholder{
  font-weight: 800;
  font-family: Roboto;
  letter-spacing: 0.2px;
  padding-left: 10px;
}

.btn-search{
  background-color: #17211E;
  height: 40px;
  padding: 0 15px;
  border-radius: 0 4px 4px 0;
}

.icon-pesquisar{
  width: 18px;
}


.container-card-lote{
  display: grid;
  grid-template-columns: 220px 220px 220px;
  gap: 20px;
}

.card-lote{
  border-radius: 5px;
  background: radial-gradient(50% 50.00% at 50% 50.00%, #1C2523 83.33%, #252626 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
  width: 220px;
  height: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 20px;
}

.box-textos-card{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.texto-capturado-card{
  color: #2EB88E;
  font-family: Arvo;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texto-titulo-card{

  color: #FFF;
  font-family: Arvo;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-visualizar-card{
  color: #FFF;
  font-family: Arvo;
  font-size: 14px;
  font-weight: 700;

  border-radius: 3px;
  background: #2EB88E;
  padding: 10px 20px;

}
